
ogdf/build/

Exercise1/Network Files/node_modules/

ogdf/out/build/

ogdf/doc/

*.db

ogdf/.vs/ogdf/v16/ipch/

ogdf/.vs/slnx.sqlite

ogdf/.vs/ogdf/v16/.suo

ogdf/CMakeFiles/

ogdf/include/

ogdf/html/

ogdf/latex/

*.cmake

ogdf/CMakeCache.txt

ogdf/CMakeDoxyfile.in

ogdf/Makefile

ogdf/lib/include/

ogdf/output_binary.bin

ogdf/libCOIN.a

ogdf/libOGDF.a

ogdf/.vs/

ogdf/exercises/ex4/output/

ogdf/CMakeDoxyfile.tpl

ogdf/exercises/ex4/node_modules/
